/* rf20010-ejercicio1b.css   rf20010  */

fichero {background-color:white; }
ficha {background-color:red; display:block;} 
nombre {color:blue; display:inline;} 
apellido {color:yellow; display:block;}
direccion {color:yellow;font-size:1cm; display:block;}

datos {background-color:green; display:block;} 
primerNombre {color:blue; display:inline;}
segundoNombre {color:yellow; display:inline;}
apellidoUno {color:red; display:inline;}
apellidoDos {color:black; display:inline; }
telefono {color:white; display:block; font-size:1cm; text-align:center;}
correo {color:orange; display:block; font-size:1cm; float: right;}
urlHost {color:black; display:inline; font-size:1cm; float: left;}

info {background-color:black; display:block;} 
primerNombre {color:green; display:block; text-align:center;}
segundoNombre {color:yellow; display:block; text-align:center;}
apellidoUno {color:red; display:block; text-align:center;}
apellidoDos {color:black; display:block; text-align:center;}
telefono {color:white; display:block; font-size:1cm; text-align:center;}
correo {color:orange; display:block; font-size:1cm; text-align:center;}
urlHost {color:purple; display:block; font-size:1cm; text-align:center;}
isss {color:brown; display:block; font-size:1cm; float: left;}
afp  {color:brown; display:block; font-size:1cm; float: right;}